
<section class="student-detail-container">
    <h2>Detalle del alumno</h2>
  
    <div *ngIf="studentDetail" class="student-detail">
      <div class="detail-item">
        <strong>ID:</strong>
        <span>{{ studentDetail.id }}</span>
      </div>
      <div class="detail-item">
        <strong>Nombre:</strong>
        <span>{{ studentDetail.firstName }}</span>
      </div>
      <div class="detail-item">
        <strong>Apellido:</strong>
        <span>{{ studentDetail.lastName }}</span>
      </div>
      <div class="detail-item">
        <strong>DNI:</strong>
        <span>{{ studentDetail.document }}</span>
      </div>
      <div class="detail-item">
        <strong>Email:</strong>
        <span>{{ studentDetail.email }}</span>
      </div>
      <div class="detail-item">
        <strong>Fecha Nacimiento:</strong>
        <span>{{ studentDetail.birthDate | date:'dd/MM/yyyy' }}</span>
      </div>
      
      <div class="detail-item row d-flex align-items-center">
        <div class="col-6">
        <strong>Cursos Inscritos:</strong>
      </div>
      <div class="col-5"></div>
      <div class="col-1">
        <button mat-icon-button color="primary" (click)="toggleCourses()" matTooltip="Ver las inscripciones">
          <mat-icon>{{ mostrarCursos ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </button>
      </div>
      <div class="col-12">
        <ul *ngIf="mostrarCursos && enrollmentDetail && enrollmentDetail.length > 0">
          <li *ngFor="let enrollment of enrollmentDetail" class="enrollment-item">
            ♦ {{ enrollment.course.name }}
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
        <span *ngIf="mostrarCursos && (!enrollmentDetail || enrollmentDetail.length === 0)" style="color:red">
          El alumno no posee inscripciones.
        </span>
      </div>
      
      </div>
      
    </div>
  </section>  