
.student-detail-container {
    max-width: 600px;
    margin: auto;
  }
  
  .student-detail {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
  
    .detail-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
  
      strong {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }  

  .enrollment-item {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
  }
  
  .enrollment-item span {
    flex-grow: 1; /* Allow the span to grow and take up remaining space */
  }
  
  .enrollment-item mat-icon {
    margin-left: 10px; /* Adjust as needed */
  }
  
  