<div class="welcome-container">
    <h1>Bienvenido a Escuela Digital Innova</h1>
    <br>
    <p>En Escuela Digital Innova, nos dedicamos a brindar educación de alta calidad, inspirando el aprendizaje y fomentando el crecimiento personal y académico de nuestros estudiantes. Nuestra misión es proporcionar un entorno educativo innovador y colaborativo que prepare a los estudiantes para enfrentar los desafíos del mundo moderno.</p>
    <p>Estamos comprometidos con la excelencia académica y el desarrollo integral de cada estudiante. Trabajamos arduamente para crear un ambiente educativo inclusivo y estimulante donde cada estudiante pueda alcanzar su máximo potencial.</p>
    <p>¡Gracias por unirte a nuestra comunidad educativa! Estamos emocionados de acompañarte en tu viaje de aprendizaje.</p>
  </div>
  