
<section class="course-detail-container">
    <h2>Detalle del curso</h2>
  
    <div *ngIf="courseDetail" class="course-detail">
      <div class="detail-item">
        <strong>ID:</strong>
        <span>{{ courseDetail.id }}</span>
      </div>
      <div class="detail-item">
        <strong>Nombre del curso:</strong>
        <span>{{ courseDetail.name }}</span>
      </div>
      <div class="detail-item">
        <strong>Descripcion</strong>
        <span>{{ courseDetail.description }}</span>
      </div>
      <div class="detail-item">
        <strong>Duracion en horas:</strong>
        <span>{{ courseDetail.duration }}</span>
      </div>      
      <div class="detail-item">
        <strong>Fecha de creacion:</strong>
        <span>{{ courseDetail.createdAt | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
  </section>  