<mat-toolbar class="flex justify-content-between" color="primary">
    <div>
      <button
        (click)="toggleSidebar.emit()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span> Escuela Digital Innova </span>
    </div>  
    <div *ngIf="authenticatedUser.user">
      <p>Hola {{ authenticatedUser.user.email }} - Rol: {{ authenticatedUser.role }}</p>      
    </div>
  </mat-toolbar>  