
.enrollment-detail-container {
    max-width: 600px;
    margin: auto;
  }
  
  .enrollment-detail {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
  
    .detail-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
  
      strong {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }  

  .enrollment-item {
    display: flex; 
    align-items: center; 
  }
  
  .enrollment-item span {
    flex-grow: 1; 
  }
  
  .enrollment-item mat-icon {
    margin-left: 10px; 
  }