<h1>Alumnos</h1>

<button (click)="openStudentsDialog()" mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    Dar de alta un alumno
</button>

<!-- <app-student-table>
    [dataSource]="students"
</app-student-table>-->

<table mat-table [dataSource]="students" class="mat-elevation-z8" style="margin-top: 10px;">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
  
      <td mat-cell *matCellDef="let student">
       {{ student.id }}
      </td>
    </ng-container>
  
    <!-- Fullname  Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
  
      <td mat-cell *matCellDef="let student">
        {{ student | fullName }}
      </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
  
      <td mat-cell *matCellDef="let student">
        {{ student.email }}
      </td>
    </ng-container>

     <!-- Document Column -->
     <ng-container matColumnDef="document">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
  
      <td mat-cell *matCellDef="let student">
        {{ student.document }}
      </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>

      <td mat-cell *matCellDef="let student">
        {{ formatBirthDate(student.birthDate) }}
      </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
  
      <td mat-cell *matCellDef="let student">
        <button [routerLink]="student.id" color="accent" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>   
        <button  mat-icon-button color="primary" (click)="onEditStudent(student)">
          <mat-icon>edit</mat-icon>
        </button>
        <button  mat-icon-button color="warn" (click)="onDeleteStudent(student.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>