<h1 mat-dialog-title appTitulos>
    {{student ? "Editar alumno" : "Dar de alta alumno" }}
  </h1>
  
  <div mat-dialog-content>
    <!-- Contenido... -->
  
    <form [formGroup]="studentForm">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="firstName" matInput />
            <mat-error>
              {{ studentForm.get("firstName")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput />
            <mat-error>
              {{ studentForm.get("lastName")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />
            <mat-error>
              {{ studentForm.get("email")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Teléfono</mat-label>
            <input formControlName="phone" matInput />
            <mat-error>
              {{ studentForm.get("phone")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>DNI</mat-label>
            <input formControlName="document" matInput />
            <mat-error>
              {{ studentForm.get("document")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Fecha de nacimiento</mat-label>
            <input formControlName="birthDate" matInput [matDatepicker]="fechaCreacionPicker"/>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
          matIconSuffix
          [for]="fechaCreacionPicker"
            ></mat-datepicker-toggle>
        <mat-datepicker #fechaCreacionPicker></mat-datepicker>
            <mat-error>
              {{ studentForm.get("birthDate")?.errors | formErrors }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions class="dialog-actions">
    <button mat-dialog-close type="button" class="btn btn-secondary">Cancelar</button>
    <button (click)="onSubmit()" type="button" class="btn btn-primary" style="margin-left: 8px;">Guardar</button>
  </div>